In [1]:
import os
import yaml
import google.generativeai as genai

In [2]:
credentials = yaml.safe_load(open(os.path.expanduser('~/.secrets/google_ai.yml')))

In [3]:
api_key = credentials['api_key']
genai.configure(api_key=api_key)

In [4]:
sports_news_text = {'title':'Sports Section',
                    'text':'San Francisco 49ers are heading to the super bowl in a football showdown!'}

In [5]:
finance_news_text = {'title':'Finance Section',
                    'text':'Meta stock has reached all time high due to its big push in AI research'}

In [6]:
for model in genai.list_models():
    print(model.name)

models/chat-bison-001
models/text-bison-001
models/embedding-gecko-001
models/gemini-1.0-pro
models/gemini-1.0-pro-001
models/gemini-1.0-pro-latest
models/gemini-1.0-pro-vision-latest
models/gemini-1.5-flash-001
models/gemini-1.5-flash-latest
models/gemini-1.5-pro-001
models/gemini-1.5-pro-latest
models/gemini-pro
models/gemini-pro-vision
models/embedding-001
models/text-embedding-004
models/aqa

In [7]:
sports_embedding_vector = genai.embed_content(model='models/embedding-001',
                                              content=sports_news_text['text'],
                                              task_type='retrieval_document')

In [8]:
type(sports_embedding_vector)

dict

In [9]:
type(sports_embedding_vector['embedding'])

list

In [10]:
sports_embedding_vector['embedding']

[0.017034732,
 -0.002852212,
 -0.05543998,
 -0.02071096,
 0.04227543,
 -0.00046997407,
 -0.0052968594,
 0.0067575034,
 0.0108586075,
 0.03362889,
 -0.007843889,
 0.05088861,
 -0.014354059,
 0.025606241,
 -0.0055216746,
 -0.019924918,
 0.025058607,
 0.038961295,
 0.015219009,
 -0.012273454,
 0.04804724,
 0.010514121,
 -0.01890651,
 -0.0096841855,
 0.016060378,
 -0.040715527,
 0.07061795,
 -0.05924369,
 -0.02035509,
 0.025807017,
 -0.055238046,
 -0.000949542,
 -0.041503683,
 0.02579506,
 0.01932731,
 -0.07284029,
 -0.023513785,
 0.019454738,
 0.02661803,
 -0.0014038506,
 0.037862476,
 -0.033956554,
 -0.012977529,
 0.017805418,
 0.012731145,
 0.04063027,
 -0.01882565,
 0.021351354,
 0.045790687,
 -0.05137211,
 0.07544966,
 -0.0036192879,
 0.06400452,
 -0.004693121,
 -0.028665645,
 -0.019159509,
 0.051767167,
 -0.017864157,
 -0.008531156,
 -0.012861022,
 -0.0013564206,
 -0.026168708,
 0.018129522,
 0.008066004,
 -0.014225991,
 -0.035313647,
 -0.00829876,
 0.0133697195,
 0.038623534,
 0.008487957,
 -0.0056108576,
 -0.07091614,
 0.011577103,
 0.02274483,
 0.05563547,
 -0.15315166,
 -0.001770094,
 0.07321275,
 0.018642552,
 -0.014413256,
 0.013560885,
 -0.061051425,
 -0.07299093,
 -0.052115582,
 -0.076351605,
 0.019410359,
 -0.029040763,
 -0.0037609136,
 0.011841297,
 0.03474609,
 -0.030063359,
 0.008402244,
 0.08605237,
 -0.04045399,
 -0.015717028,
 0.10395611,
 0.0043296684,
 -0.050593812,
 0.032555006,
 -0.020607138,
 0.015405741,
 -0.012125312,
 -0.0142076975,
 0.067065485,
 0.042551745,
 -0.003212697,
 -0.0026197336,
 -0.002245582,
 0.017636316,
 0.034752484,
 -0.05104405,
 -0.014652082,
 -0.0019558105,
 -0.02111032,
 0.051469028,
 -0.04348341,
 0.00071162154,
 0.08473813,
 0.071625456,
 0.052740593,
 0.04085283,
 -0.011216345,
 0.06560133,
 -0.02953269,
 -0.019441765,
 0.0020961775,
 0.0032034605,
 0.05344579,
 0.028587056,
 -0.030702045,
 -0.02477021,
 -0.030924963,
 -0.023707826,
 -0.012207136,
 0.049495034,
 0.08591064,
 0.019888842,
 -0.0361381,
 0.004187586,
 0.00014627072,
 0.019688256,
 0.043246068,
 0.029422525,
 0.02137471,
 -0.026923966,
 0.047708567,
 -0.052712716,
 -0.009580357,
 0.052219104,
 -0.00275035,
 -0.028453117,
 -0.0058035403,
 -0.04001861,
 -0.023266317,
 0.053156465,
 0.032712273,
 -0.035719454,
 0.031329624,
 0.009790289,
 0.00692005,
 0.008208789,
 -0.00033546044,
 0.007562086,
 0.03945567,
 -0.023406124,
 -0.019041602,
 0.00457092,
 -0.0019309741,
 0.004108884,
 0.048030186,
 -0.008947949,
 0.045714,
 -0.04078598,
 -0.055227987,
 -0.02728876,
 -0.055757213,
 0.055810504,
 -0.0065865438,
 -0.033802155,
 -0.041031662,
 -0.011614599,
 -0.04141802,
 0.054014526,
 0.06583848,
 0.022539195,
 -0.03044357,
 0.04855796,
 -0.0064746356,
 -0.020434374,
 0.016198404,
 -0.018718494,
 0.018788218,
 -0.047122464,
 -0.031953964,
 -0.019482533,
 0.039015524,
 0.005674755,
 0.0053905617,
 0.003433717,
 -0.044439245,
 -0.0372515,
 0.045232512,
 -0.022081245,
 0.0067128832,
 0.04020059,
 -0.01855233,
 0.04528396,
 -0.041155018,
 -0.021999592,
 0.0336956,
 -0.030817414,
 0.03653792,
 -0.012859832,
 -0.0030373053,
 0.041564263,
 0.0030849862,
 -0.02838148,
 0.04675378,
 -0.011927315,
 -0.026839983,
 -0.024004161,
 -0.007661836,
 -0.019337222,
 0.023379473,
 0.0040932773,
 0.04030236,
 -0.045593157,
 -0.012704299,
 0.0275156,
 -0.023672614,
 0.0054055275,
 0.058932014,
 0.032487772,
 0.03967706,
 0.094620876,
 -0.008654133,
 -0.0001556796,
 0.01414059,
 0.028289735,
 0.02736835,
 -0.039020203,
 0.035857163,
 0.014693847,
 0.016774032,
 -0.066791564,
 -0.053005733,
 -0.043763444,
 0.054399867,
 -0.0132090235,
 0.02807607,
 -0.022005148,
 -0.02197094,
 -0.041188978,
 0.034697153,
 -0.123150945,
 0.014283503,
 -0.07357319,
 0.010710844,
 -0.05703932,
 0.0002682465,
 0.06929232,
 0.039321657,
 0.014999068,
 0.0049548424,
 0.009007916,
 -0.019155331,
 0.038014818,
 -0.05060264,
 0.015607125,
 0.025585875,
 -0.005307504,
 -0.014427843,
 0.028913107,
 0.028751502,
 0.019903282,
 -0.014489599,
 -0.003522558,
 0.046691272,
 0.078505464,
 -0.029172283,
 0.014151424,
 0.018979955,
 0.045948993,
 -0.017174764,
 0.029847536,
 0.010965657,
 -0.044716157,
 -0.05134239,
 -0.011359583,
 -0.0058379765,
 -0.029518649,
 -0.047974695,
 0.04065955,
 -0.007411229,
 -0.060318373,
 0.024910647,
 0.003891497,
 0.027483733,
 0.0017543747,
 -0.012620619,
 -0.011444244,
 -0.076546796,
 0.0513942,
 -0.076893054,
 -0.033289615,
 0.002094661,
 -0.006813145,
 -0.043228105,
 0.016374575,
 0.011709828,
 0.013349548,
 -0.007955888,
 -0.03578863,
 -0.008605911,
 0.032996897,
 0.030469924,
 -0.0010161732,
 -0.0070847874,
 -0.016559372,
 0.033906013,
 0.0097593805,
 0.049944755,
 0.050403886,
 0.012270548,
 -0.025523594,
 0.048708554,
 -0.018227952,
 0.02933501,
 -0.015478535,
 0.0076550264,
 -0.0027912518,
 0.048505463,
 -0.031897943,
 -0.0039544716,
 -0.0137937525,
 0.048456863,
 -0.07446208,
 -0.0030085263,
 -0.047759775,
 -0.015118541,
 -0.012274704,
 0.024005752,
 -0.057113342,
 -0.08614417,
 0.007936757,
 -0.033243924,
 -0.043631773,
 0.07795466,
 0.071626425,
 0.07280861,
 0.019841822,
 0.0658354,
 -0.006579353,
 0.053506423,
 -0.016780682,
 -0.022517016,
 0.06463346,
 -0.024548663,
 0.029235216,
 -0.034500748,
 0.034655355,
 -0.001811399,
 0.021428704,
 -0.04937833,
 -0.018668162,
 0.012631454,
 -0.024812415,
 0.013406737,
 -0.00023751953,
 0.043631054,
 0.010372819,
 -0.026782693,
 0.020620558,
 -0.02425405,
 -0.03461989,
 0.00466484,
 -0.037164483,
 -0.03680569,
 0.039012756,
 0.012622172,
 -0.0016204597,
 -0.000594802,
 0.051913098,
 -0.012454753,
 0.003370921,
 -0.0063275644,
 0.046279218,
 0.031625003,
 -0.035897914,
 0.023624595,
 -0.033042148,
 0.016122792,
 0.08515943,
 0.036540087,
 -0.012685753,
 -0.031139882,
 -0.021374412,
 -0.05815294,
 0.032597207,
 0.032303732,
 -0.047581814,
 -0.049563915,
 -0.028377078,
 0.011877611,
 -0.05498711,
 0.020189479,
 0.0043942705,
 0.0045721265,
 -0.033540197,
 0.015862426,
 0.008589933,
 0.018086504,
 -0.01218968,
 -0.042049997,
 -0.08021279,
 -0.00038326115,
 0.033716626,
 -0.01621235,
 -0.011268467,
 0.053925112,
 -0.034858715,
 -0.013039286,
 -0.009238065,
 -0.0066664647,
 -0.09203242,
 -0.022994645,
 0.011484786,
 -0.03090969,
 0.033906728,
 0.012020792,
 0.06784338,
 0.0025693749,
 -0.026060203,
 -0.027415877,
 0.0047839545,
 -0.04044828,
 -0.07019495,
 0.0537801,
 -0.028389176,
 -0.00095134333,
 0.042996865,
 -0.007375414,
 0.02007567,
 -0.017823586,
 -0.016612642,
 -0.05350399,
 0.0015948683,
 -0.0026342236,
 -0.0007536682,
 -0.06635392,
 0.045130998,
 -0.04914051,
 -0.020622121,
 -0.08448705,
 -0.059415746,
 -0.024264472,
 -0.026173174,
 0.040248666,
 -0.05072408,
 -0.0030202316,
 0.050599393,
 -0.037572775,
 -0.019721197,
 -0.08393314,
 0.0040476173,
 -0.015570028,
 -0.0015549156,
 -0.011241695,
 0.0017701352,
 0.042821944,
 0.016497826,
 -0.009232379,
 -0.02703054,
 -0.03014896,
 0.005819935,
 -0.03942231,
 -0.053671196,
 0.02528872,
 0.024781194,
 0.010075124,
 0.0008484681,
 -0.00014593027,
 0.018904496,
 -0.017331706,
 -0.017544301,
 0.039331015,
 0.009841372,
 0.009050646,
 -0.03937812,
 0.06341774,
 0.016696263,
 0.018504536,
 -0.0014979155,
 -0.0025444205,
 -0.039113507,
 0.009874726,
 -0.004974788,
 0.06299715,
 0.06641903,
 0.041545462,
 -0.018354962,
 -0.009493761,
 0.054359045,
 0.007851779,
 0.023432123,
 -0.090329215,
 -0.01957241,
 -0.008939265,
 0.03235863,
 0.0031979952,
 0.0323201,
 0.0446897,
 -0.019225564,
 0.025850436,
 0.043183878,
 -0.049550604,
 0.014513506,
 0.0012954125,
 -0.020819113,
 0.0088202525,
 0.024169633,
 -0.022174627,
 -0.08535583,
 -0.019830674,
 -0.018098712,
 -0.0074193846,
 -0.013262395,
 0.023475261,
 -0.056730997,
 0.009147108,
 -0.037773315,
 0.051245417,
 -0.06701075,
 -0.010946226,
 0.0137540735,
 -0.009832505,
 0.012200303,
 0.01234822,
 0.0066760876,
 -0.01311239,
 0.03507329,
 0.012755584,
 0.056655932,
 0.024463316,
 -0.068996586,
 0.009288215,
 0.0016979914,
 -0.085879,
 0.0054506455,
 0.0173718,
 0.0066979583,
 0.0005582176,
 0.020780362,
 -0.0076469686,
 0.010703644,
 -0.004832335,
 0.021841556,
 -0.015807515,
 0.064524606,
 0.052010287,
 -0.035063684,
 0.008732142,
 -0.0038118956,
 0.004663945,
 0.09134757,
 -0.015663575,
 -0.021543615,
 -0.027255801,
 0.07379202,
 -0.0074107354,
 -0.021158667,
 0.016199613,
 0.028451853,
 -0.016728772,
 0.02298,
 0.008207925,
 -0.037855912,
 0.00799378,
 -0.06882553,
 -0.015492288,
 0.04656573,
 -0.024448242,
 0.025227273,
 0.0777778,
 -0.020079946,
 -0.038003504,
 0.05443094,
 0.045391846,
 0.024234315,
 0.031415846,
 -0.06774626,
 -0.004746127,
 -0.03843057,
 0.0029191766,
 -0.014569071,
 -0.036669336,
 0.04438824,
 -0.004963383,
 -0.030635891,
 0.0022574957,
 0.014534664,
 -0.031578403,
 0.0361032,
 -0.032565746,
 0.03635859,
 0.0108063,
 -0.016595004,
 -0.005847482,
 -0.009148142,
 0.048284087,
 -0.022940591,
 -0.052192412,
 0.012510902,
 -0.004818699,
 -0.08020984,
 -0.035049506,
 0.049196992,
 0.013199099,
 0.008482534,
 -0.014286098,
 -0.035378676,
 -0.0023922613,
 0.019571649,
 0.012439136,
 0.017228108,
 0.026381915,
 -0.014275027,
 -0.029325657,
 0.0528348,
 0.03885863,
 0.021441776,
 0.07822382,
 0.013118265,
 0.0066719092,
 -0.06081385,
 -0.00692233,
 -0.05711088,
 -0.012301727,
 0.04505145,
 -0.0048675514,
 -0.07769399,
 -0.010120307,
 -0.029472923,
 -0.0008606454,
 0.022377478,
 0.067946225,
 0.022168083,
 -0.060890418,
 -0.06948439,
 -0.021707447,
 -0.07406224,
 -0.01312142,
 0.029315416,
 -0.0031763203,
 0.030986499,
 0.013814645,
 -0.018114997,
 -0.033333194,
 0.008779539,
 -0.008096007,
 -0.009926258,
 0.0017324642,
 -0.02410687,
 -0.0034999317,
 0.02452038,
 -0.04391042,
 -0.06544114,
 -0.1180225,
 0.014514725,
 0.033759933,
 -0.07161129,
 -0.020949384,
 0.052518066,
 0.010722697,
 -0.0014850566,
 0.03529574,
 -0.008483522,
 0.058696978,
 0.021049963,
 0.042513367,
 0.056842394,
 -0.0028347264,
 -0.0070783403,
 0.025889406,
 -0.018805165,
 0.057722207,
 0.026841285,
 0.010693885,
 -0.02966734,
 -0.028487291,
 0.031879954,
 -0.03301826,
 -0.008433503,
 0.04013107,
 0.048387576,
 0.01235331,
 -0.0068214107,
 -0.006492531,
 0.022305444,
 0.06895292,
 -0.016337406,
 0.023135351,
 -0.047585126,
 0.008952424,
 0.036308885,
 -0.0068054865,
 0.04475792,
 0.0448976,
 0.027104512,
 0.06270856,
 0.0063972846,
 -0.029574377,
 -0.035294786,
 0.0236579,
 -0.0019684557,
 -0.024818921,
 0.0006409659,
 0.05193338,
 -0.012718891,
 0.055318538,
 0.018065898,
 0.030740252,
 0.025134733,
 -0.008238865,
 -0.03437191,
 0.07477867,
 -0.050609645,
 -0.011231892,
 -0.009625166,
 -0.011857325,
 0.053399898,
 0.0008399777,
 -0.002951958,
 0.009494515,
 0.01155782,
 0.11270962,
 0.009692957,
 0.024072058,
 0.02474812,
 -0.07113926,
 -0.01978351,
 -0.013969801,
 -0.007341642,
 0.04967806,
 0.05481231,
 0.010000457,
 -0.0025722026,
 0.002492022,
 0.022843719,
 -0.05180283,
 -0.027584711,
 -0.0075281016,
 -0.032823347,
 0.043996267,
 0.02036808,
 0.012707042,
 -0.00085779326,
 -0.017646842,
 -0.02494575,
 -0.017341485,
 -0.042916026,
 -0.005401091,
 -0.0010156381,
 -0.015288142,
 0.0027833139,
 0.003955529,
 -0.018301876,
 -0.00436448]

In [11]:
len(sports_embedding_vector['embedding'])

768

In [12]:
finance_embedding_vector = genai.embed_content(model='models/embedding-001',
                                               content=finance_news_text['text'],
                                              task_type='retrieval_document')

In [13]:
len(finance_embedding_vector['embedding'])

768

In [14]:
def embed_text(text):
    # returns the embedding "array"
    return genai.embed_content(model='models/embedding-001',
                               content=text,
                               task_type='retrieval_document')['embedding']

In [15]:
# !pip install pandas

In [16]:
# store embedding
import pandas as pd  # or embedding Database chromaDb pinecone

In [17]:
documents = [finance_news_text, sports_news_text]

In [18]:
documents

[{'title': 'Finance Section',
  'text': 'Meta stock has reached all time high due to its big push in AI research'},
 {'title': 'Sports Section',
  'text': 'San Francisco 49ers are heading to the super bowl in a football showdown!'}]

In [19]:
df = pd.DataFrame(documents)

In [20]:
df

             title                                               text
0  Finance Section  Meta stock has reached all time high due to it...
1   Sports Section  San Francisco 49ers are heading to the super b...

In [21]:
df.columns = ['Title', 'Text']

In [22]:
df

             Title                                               Text
0  Finance Section  Meta stock has reached all time high due to it...
1   Sports Section  San Francisco 49ers are heading to the super b...

In [23]:
df['Embeddings'] = df['Text'].apply(embed_text)  # vector store

In [24]:
df

,Title,Text,Embeddings
0,Finance Section,Meta stock has reached all time high due to it...,"[0.040587973, -0.00784966, -0.017593645, 0.016..."
1,Sports Section,San Francisco 49ers are heading to the super b...,"[0.017034732, -0.002852212, -0.05543998, -0.02..."

In [25]:
import numpy as np

In [26]:
def query_similarity_score(query,vector):
    # query --> actual user's text "tell me about football sport?" text string
    # Vector --> Array (list), numpy array, eg Embedding 

    # Query String --> List
    query_embedding = embed_text(query)

    # Similarity between 2 lists
    return np.dot(query_embedding,vector)

In [27]:
query = "Any interesting news about Meta stock performance today"

In [28]:
df['Similarity'] = df['Embeddings'].apply(lambda vector: query_similarity_score(query,vector))

In [29]:
df

,Title,Text,Embeddings,Similarity
0,Finance Section,Meta stock has reached all time high due to it...,"[0.040587973, -0.00784966, -0.017593645, 0.016...",0.871182
1,Sports Section,San Francisco 49ers are heading to the super b...,"[0.017034732, -0.002852212, -0.05543998, -0.02...",0.660011

In [30]:
df.sort_values('Similarity',ascending=False)[['Title','Text']].iloc[0]

Title                                      Finance Section
Text     Meta stock has reached all time high due to it...
Name: 0, dtype: object

In [31]:
def most_similar_document(df, query):
    df['Similarity'] = df['Embeddings'].apply(lambda vector: query_similarity_score(query,vector))
    title = df.sort_values('Similarity',ascending=False)[['Title','Text']].iloc[0]['Title']
    text = df.sort_values('Similarity',ascending=False)[['Title','Text']].iloc[0]['Text']
    return title,text

In [32]:
title, text = most_similar_document(df, 'Any news about the San Francisco 49ers today?')

In [33]:
title

'Sports Section'

In [34]:
text

'San Francisco 49ers are heading to the super bowl in a football showdown!'

In [35]:
def RAG(df, query):
    # Retrieval Document
    title, text = most_similar_document(df, query)
    # Augmented Generation - Model
    model = genai.GenerativeModel('gemini-pro')
    # Augment --> \n prompt eng
    # prompt = f"Answer this query:\n{query}.\nOnly use this context to answer:\n{text}"
    prompt = f"Answer this query:\n{query}.\nOnly use this context to answer but give me any extra info that you maybe aware of:\n{text}"
    # Sourcing (title), to know which document was used
    response = model.generate_content(prompt)
    return f"{response.text}\n\nSource Doc Title: {title}"

In [36]:
print(RAG(df, "Do you have any information about the 49ers?"))

I do not have any other information about the 49ers from the provided context.

Source Doc Title: Sports Section

# Test with real world documents

In [37]:
#!pip install PyPDF2

In [38]:
import os
import pandas as pd
from PyPDF2 import PdfReader

# Initialize an empty DataFrame with columns 'Title' and 'Text'
df = pd.DataFrame(columns=['Title', 'Text'])
subdir = '03-Embeddings-and-RAG'
# Loop through each file in the sub directory 03-Embeddings-and-RAG
for file_name in os.listdir(subdir):
    if file_name.endswith('.pdf'):
        try:
            # Open the PDF file
            with open(f"{subdir}/{file_name}", 'rb') as file:
                # Initialize a PDF file reader
                pdf_reader = PdfReader(file)
                # Initialize text variable to store the content of the PDF
                text = ''
                # Iterate through each page in the PDF
                for page_num in range(len(pdf_reader.pages)):
                    # Extract text from the page
                    text += pdf_reader.pages[page_num].extract_text()
                    text = text.replace('\n',' ')
                # Create a new DataFrame with the file's title and text
                new_row = pd.DataFrame({'Title': [file_name], 'Text': [text]})
                # Concatenate the new DataFrame row to the existing DataFrame
                df = pd.concat([df, new_row], ignore_index=True)
        except Exception as e:
            print(f"Error processing file {file_name}: {e}")

In [39]:
print(df['Text'].iloc[0])

Wonka Milk Chocolate Factory: Facility Safety Rules Preface: The Wonka Milk Chocolate Factory prioritizes the safety and well-being of its employees and visitors. These detailed safety rules are designed to ensure a safe and healthy work environment for everyone. General Rules: 1. Personal Protective Equipment (PPE): All employees must wear the designated PPE at all times while on the factory floor . This includes: ○ Hairnets or beard covers ○ Safety glasses or goggles ○ Disposable gloves ○ Protective clothing (aprons or overalls) ○ Closed-toe, non-slip shoes 2. Hygiene: Thorough handwashing with soap and water is required: ○ Before starting work ○ After using the restroom ○ After eating, drinking, or smoking ○ After handling trash or any unsanitary items ○ Before handling any food materials 3. Food Safety: Employees must adhere to strict food safety guidelines: ○ Do not eat, drink, or smoke in production areas. ○ Do not touch your face, hair, or clothing while handling food materials. ○ Report any spills or contamination immediately . ○ Maintain proper storage temperatures for all ingredients and finished products.4. Machinery and Equipment: ○ Only trained and authorized personnel may operate machinery . ○ Never reach into moving machinery . ○ Report any malfunctioning equipment immediately . ○ Lock out and tag out machinery before performing maintenance. 5. General Safety: ○ Report any unsafe conditions or hazards immediately . ○ Be aware of your surroundings and watch for potential hazards. ○ Do not horseplay or run in the factory . ○ Use designated walkways and stairways. ○ Know the location of emergency exits and safety equipment. ○ Report all accidents and injuries immediately . Specific Rules by Department: ● Ingredients Handling: ○ Wear appropriate gloves and respiratory protection when handling dusty or powdered ingredients. ○ Follow proper procedures for weighing and measuring ingredients. ○ Be aware of the potential for allergens and cross-contamination. ● Mixing and Grinding: ○ Stand clear of mixers and grinders while they are operating. ○ Use designated tools and utensils for handling molten chocolate. ○ Be aware of the potential for burns and spills. ● Molding and Packaging:○ Do not touch the conveyor belts or moving parts of packaging machines. ○ Be careful not to pinch fingers when handling packaging materials. ○ Report any damaged or malfunctioning packaging equipment immediately . ● Cleaning and Sanitation: ○ Wear gloves and eye protection when using cleaning chemicals. ○ Follow proper dilution instructions for cleaning chemicals. ○ Be aware of the potential for slippery surfaces after cleaning. ● Maintenance and Repair: ○ Lock out and tag out equipment before performing any maintenance or repair . ○ Use appropriate tools and safety equipment for the task. ○ Be aware of the potential for electrical hazards. Emergency Procedures: ● All employees must be familiar with the emergency procedures for the factory . ○ This includes knowing the location of emergency exits, fire extinguishers, and first-aid kits. ● Employees must be trained on how to respond to different types of emergencies, such as fires, spills, and medical emergencies. Safety Training and Awareness: ● All new employees will receive comprehensive safety training upon hire. ● Refresher training will be provided on a regular basis. ○ Safety awareness campaigns and safety meetings will be held throughout the year .Reporting and Investigation: ● All accidents and injuries must be reported to supervisors immediately . ○ Thorough investigations will be conducted for all incidents. ● Corrective actions will be taken to prevent future incidents. Compliance: ● The Wonka Milk Chocolate Factory is committed to complying with all applicable safety regulations. ○ Regular inspections will be conducted to ensure compliance with safety standards. Consequences: ● Failure to comply with safety rules may result in disciplinary action, up to and including termination of employment. Additional Notes: ● These safety rules are not exhaustive and may be amended at any time. ● Employees are encouraged to ask questions and report any concerns they may have about safety . ● By working together , we can create a safe and healthy work environment for everyone at the Wonka Milk Chocolate Factory . Pets: ● Only guide dogs are allowed on the premises. ● Guide dogs must be properly trained and housebroken. ● Guide dog owners must be in control of their dogs at all times. ● Guide dogs must not be disruptive or aggressive.● Guide dogs must wear a harness or vest clearly identifying them as guide dogs. ● Guide dog owners are responsible for cleaning up after their dogs. ● Guide dogs are not allowed in food

In [40]:
df.head(5)

,Title,Text
0,Wonka Chocolate Facility Rules.pdf,Wonka Milk Chocolate Factory: Facility Safety ...

In [41]:
# create vector embeddings and store it
df['Embeddings'] = df['Text'].apply(embed_text)

In [42]:
df.head(1)

,Title,Text,Embeddings
0,Wonka Chocolate Facility Rules.pdf,Wonka Milk Chocolate Factory: Facility Safety ...,"[0.013815645, -0.057831157, -0.03580527, -0.02..."

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       1 non-null      object
 1   Text        1 non-null      object
 2   Embeddings  1 non-null      object
dtypes: object(3)
memory usage: 152.0+ bytes

In [44]:
query_doc = "What to do in case of injuries?"

In [45]:
# perform similarity search
print(RAG(df, query_doc))

In case of injuries, the following steps should be taken:

1. Report all accidents and injuries to supervisors immediately.
2. Thorough investigations will be conducted for all incidents.
3. Corrective actions will be taken to prevent future incidents.

Source Doc Title: Wonka Chocolate Facility Rules.pdf